html, body, #root {
  height: 100%;
  margin: 0;
}

/* 최상위 layout*/
.app-root {
  height: 100vh;              
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;

  min-height: 0;               
}


/* 3) 위쪽(에디터 + 팔레트) */
.top-row {
  flex: 1;                     
  display: flex;
  gap: 16px;
  margin-bottom: 16px;

  min-height: 0;              
}

/* 4) 에디터 영역 */
.edit-area {
  flex: 1;
  min-width: 0;               
  min-height: 0;              

  background-color: #e0e0e0;
  border: 1px solid #ccc;     
  border-radius: 8px;         
  position: relative;

  display: block;            
  overflow: hidden;           
}

/* 5) 팔레트 영역(오른쪽) */
.bottom-row {
  width: 300px;
  flex: 0 0 300px;            
  min-height: 0;             

  border-left: 1px solid #ddd;
  background-color: #e0e0e0;
  border-radius: 8px;         
  overflow: auto;             
  display: flex;
  flex-direction: column;
}

/* 6) 출력 영역(아래) */
.output-area {
  height: 250px;
  background-color: #e0e0e0;
  border-top: 1px solid #ccc;

  display: flex;
  align-items: stretch;
  justify-content: stretch;

  padding: 10px;
  box-sizing: border-box;
}

