.app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ffffff;         
  padding: 20px;
  box-sizing: border-box;
}


.app-inner {
  flex: 1;
  background: #fff;
  border-radius: 8px;
}


.top-row {
  flex: 2;                   
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

/* 블록 편집 공간 */
.edit-area {
  flex: 1; /* 남은 너비 모두 차지 */
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #555;
  position: relative; /* 나중에 블록 드래그할 때 기준점 */
}

/* 블록 출력 공간 */
.output-area {
  height: 250px; /* 높이 고정 */
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  border-top: 1px solid #ccc;
}

/* 아래 블록 팔레트 공간 */
.bottom-row {
  width: 300px; /* 너비 고정 */
  border-left: 1px solid #ddd;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
}
